<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Comment List</title>
</head>
<body>
    <h1>Comments</h1>
    <ul>
        <li th:each="comment : ${comments}">
            <p>Author: <span th:text="${comment.author}">Author Name</span></p>
            <p>Content: <span th:text="${comment.content}">Comment Content</span></p>
            <p>Posted at: <span th:text="${#dates.format(comment.createdAt, 'yyyy-MM-dd HH:mm:ss')}">2024-01-01 12:00:00</span></p>
        </li>
    </ul>
    <div>
        <a th:href="@{/blogs/{id}/comments/new(id=${blog.id})}">
            Add Comment
        </a>
    </div>
    <div>
        <a th:href="@{/blogs/{blogId}(blogId=${blogId})}">
            Back to Blog Details
        </a>
    </div>
</body>
</html>
